# build output
/build/
*.o
*.a

# emulator artifacts
*.qcow2
.classicnet/

# editor / OS cruft
.DS_Store

/build-tls/
/deps/
/build-target/
/????-????-????-????/
/target/test_ca.h
/build-shlb/
/target/ca_bundle.h
/build-tls3/
/build-fctest/
/deps/mbedtls-host3/
